name: Ubuntu - Download App
on:
  workflow_dispatch:
    inputs:
      links_content:
        description: 'The raw text content of the links list'
        required: true
        type: string

jobs:
  build:
    name: Start Building...
    runs-on: ubuntu-latest

    steps: # All steps must be inside this 'steps:' block
      - name: Install dependencies
        # Removed 'shell: pwsh' as these are standard bash commands
        run: |
          python -m pip install gdown --upgrade gdown requests huggingface-hub git+https://github.com/Juvenal-Yescas/mediafire-dl

      - name: Downloading & Running Essentials
        # This 'env' block makes the secret available as an environment variable
        # for all commands within this step.
        env:
          LINKS_CONTENT: ${{ github.event.inputs.links_content }}
        run: |
          wget -O runapp.sh "https://raw.githubusercontent.com/Bogyi2024/log/main/dep_download/runapp.sh"
          chmod +x runapp.sh
          ./runapp.sh
